/*
Author: Devdigilab
*/


/* Global classes
=================================================== */
.min-w-150 {
    min-width: 150px;
}

.size-120 {
    width: 120px;
    height: 120px;
}

.cj-avatar:not([class*="size-"]), .cj-avatar__outline:not([class*="size-"]) {
    width: 40px;
    height: 40px;
}

.cj-avatar, .cj-avatar__outline {
    border-radius: 50%;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cj-list {
    list-style: none;
    padding-left: 0;
    margin-left: -7px;
    margin-right: -7px;
    margin-bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cj-list-xs {
    margin-left: -0.5px;
    margin-right: -0.5px;
}

.cj-list-xs > .cj-list__item {
    padding-left: 0.5px;
    padding-right: 0.5px;
    margin-bottom: 1px;
}

.cj-list-sm {
    margin-left: -3px;
    margin-right: -3px;
}

.cj-list-sm > .cj-list__item {
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 6px;
}

.cj-list-xl {
    margin-left: -12px;
    margin-right: -12px;
}

.cj-list-xl > .cj-list__item {
    padding-left: 12px;
    padding-right: 12px;
}

.cj-list-xxl {
    margin-left: -20px;
    margin-right: -20px;
}

.cj-list-xxl > .cj-list__item {
    padding-left: 20px;
    padding-right: 20px;
}

.cj-list__item {
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 14px;
}

.cj-list-bordered .cj-list__item:not(:last-child) {
    border-right: 1px solid #ddd;
}

.cj-list-col-6 .cj-list__item {
    width: 50%;
}

.cj-list-col-6 .cj-list__item:nth-last-of-type(1),
.cj-list-col-6 .cj-list__item:nth-last-of-type(2) {
    margin-bottom: 0;
}

.cj-list-col-4 .cj-list__item {
    width: 33.333%;
}

.cj-list-col-4 .cj-list__item:nth-last-of-type(1),
.cj-list-col-4 .cj-list__item:nth-last-of-type(2),
.cj-list-col-4 .cj-list__item:nth-last-of-type(3) {
    margin-bottom: 0;
}

.cj-list-cm-0 .cj-list__item {
    margin-bottom: 0;
}

.cj-list-square {
    list-style-type: square;
}

/* Top bar
=================================================== */
.site-topbar {
    background-color: rgba(255, 255, 255, 0.2);
    height: 40px;
}

.site-topbar a {
    color: #fff;
}

.site-topbar-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 40px;
}

.site-topbar .cj-list + .cj-list {
    margin-left: 40px;
}

.topbar-right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* Header
=================================================== */
.site-header {
    position: relative;
    background-image: url("../images/banner-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.site-header:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
}

.site-header .navigation {
    position: relative;
    background-color: transparent;
    z-index: 2;
}

.site-header .navbar-brand {
    font-weight: bold;
}

/* Slider
=================================================== */
.slider {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    position: relative;
    z-index: 2;
    height: auto;
}
.content-area {
    color: #fff;
    text-align: center;
}

.content-area h2 {
    font-size: 4.5rem;
    margin-bottom: 1.75rem;
}

.content-area p {
    font-size: 2rem;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4rem;
}

/* Section
=================================================== */
.site-main .cj-main-section {
    padding: 100px 0;
}

/* Card Style
=================================================== */
.card-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card {
    border: 0 none;
    box-shadow: 0 8px 16px rgba(192, 192, 192, 0.5);
}

.login-card {
    max-width: 80%;
    margin: 0 auto;
}

/* Login
   ========================================================================== */
.login-page {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

.login-page .site-main {
    flex: 1;
}

/* Footer
   ========================================================================== */
.site-footer {
    background-color: #010518;
    color: #fff;
    padding: 40px 0 25px;
}

.site-footer .footer-logo {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
}

.site-footer .footer-logo a {
    color: #fff;
}

.site-footer .footer-logo a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-heading {
    margin-bottom: 16px;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;

}

.footer-heading:after {
    background: #ccc none repeat scroll 0 0;
    content: "";
    display: block;
    height: 2px;
    margin-top: 8px;
    width: 30px;
    transition: all 0.3s ease 50ms;
}

.footer-wrapper:hover .footer-heading:after,
.footer-wrapper:focus .footer-heading:after {
    width: 100%;
}

.footer-menu {
    list-style: outside none;
    padding-left: 0;
    margin-bottom: 0;
}

.footer-menu li {
    margin-bottom: 8px;
}

.footer-menu a {
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
}

.footer-form .form-control {
    background-color: transparent;
    color: #fff;
    width: auto;
    transition: all 0.3s ease 50ms;
}

.footer-form .form-control:focus {
    box-shadow: none;
    background-color: #fff;
    color: #212529;
}

@media screen and (max-width: 991px) {
    .footer-wrapper {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    .site-footer {
        text-align: center;
    }

    .footer-form .form-control {
        margin: 0 auto;
    }

    .footer-heading:after {
        margin: 8px auto 0;
    }
}
